.orders-container {
  padding: 20px;
  background: #f1f8e9;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.order-card {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.order-header {
  display: flex;
  justify-content: space-between;
}

.status {
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
}

.pending {
  background: orange;
}

.shipped {
  background: #1e88e5;
}

.delivered {
  background: #43a047;
}

.order-item {
  display: flex;
  margin-top: 10px;
}

.order-item img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}